# Web Scrapping from Wikipedia

### List of best-selling books _Between 20 million and 50 million copies_

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_best-selling_books'
url
page = requests.get(url).text

In [5]:
soup = BeautifulSoup(page,
                     'html.parser')
# soup
# Output too large. Uncomment the line above to see the output

In [ ]:
# print(soup.prettify())

# Output too large. Uncomment the line above to see the output

In [ ]:
table = soup.findAll('table')[0]
table

In [ ]:
table = soup.findAll('table')[2]
table

We can see from the fist lines ( `The_Tale_of_Peter_Rabbit` and `Beatrix Potter`) that this table is the one we're aiming for, therefore we have assigned it already to the variable `table`.

 Next, we want to get solely the headers of our table, so we code just aiming to find  `th` or `table headers` tags :

In [9]:
html_headers = table.findAll('th')
html_headers

[<th>Book</th>,
 <th>Author(s)</th>,
 <th>Original language</th>,
 <th>First published</th>,
 <th>Approximate sales</th>,
 <th>Genre
 </th>]

With the function `text`, we can get only the text from between the `th` tags, then strip them. We will do this while in a for-loop for all the `html_headers` we found in the cell above. This results:

In [87]:
raw_headers = [title.text\
               .strip() for title in html_headers]

raw_headers

['Book',
 'Author(s)',
 'Original language',
 'First published',
 'Approximate sales',
 'Genre']

Then define a dataframe with only the columns as the new values `raw_headers` we fetched above:

In [160]:
df_bs_books = pd.DataFrame( columns = raw_headers )
df_bs_books

Empty DataFrame
Columns: [Book, Author(s), Original language, First published, Approximate sales, Genre]
Index: []

In [ ]:
target_table = table.findAll('tr')
target_table
# find all the `table row` elements and assign them to the variable 'target_table'.

This `target_table` contains all the data we want to fetch. We can check this out by selecting the first (headers) and last rows of it. This is:

In [79]:
target_table[0]
# headers

<tr>
<th>Book</th>
<th>Author(s)</th>
<th>Original language</th>
<th>First published</th>
<th>Approximate sales</th>
<th>Genre
</th></tr>

These are the headers of out table, and if we fetch the last element of this table, as reads below:

In [ ]:
target_table[-1]
# last row

<tr style="background:lavender;">
<td><i><a href="/wiki/The_Naked_Ape" title="The Naked Ape">The Naked Ape</a></i>
</td>
<td><a href="/wiki/Desmond_Morris" title="Desmond Morris">Desmond Morris</a>
</td>
<td>English
</td>
<td>1968
</td>
<td>20 million<sup class="reference" id="cite_ref-128"><a href="#cite_note-128">[128]</a></sup></td>
<td><a class="mw-redirect" href="/wiki/Social_Science" title="Social Science">Social Science</a>, <a href="/wiki/Anthropology" title="Anthropology">Anthropology</a>, <a href="/wiki/Psychology" title="Psychology">Psychology</a>
</td></tr>

We see that the last element of the table is called `The Naked Ape`, so we are on the right one.

In [ ]:
for row in target_table[1:]:
    html_data = row.findAll('td')
    print(html_data)

In the code above, we are starting from the 2nd value since the first one is a blank space.  

Moving foward, we can also print every observation of the table once we rid it from the HTML code we are not interested in. This can be done by stripping and text-isolating the values from `html_data` and assinging them to a new variable `cell_row_data`.


 This occurs when we apply the functions `.strip()` and `.text` - respecively - to every element of the variable `html_data`. We are printing this new variable `cell_row_data` for demonstrating purposes:

In [130]:
for row in target_table[1:]:
    html_data = row.findAll('td')
    cell_row_data = [data.text\
                     .strip() for data in html_data]
    print(cell_row_data)

['The Tale of Peter Rabbit', 'Beatrix Potter', 'English', '1902', '45 million[56]', "Children's Literature"]
['Jonathan Livingston Seagull', 'Richard Bach', 'English', '1970', '44 million[57]', 'Novella, Self-help']
['The Very Hungry Caterpillar', 'Eric Carle', 'English', '1969', '43 million[58]', "Children's Literature, picture book"]
['A Message to Garcia', 'Elbert Hubbard', 'English', '1899', '40 million[47]', 'Essay/Literature']
['To Kill a Mockingbird', 'Harper Lee', 'English', '1960', '40 million[59]', 'Southern Gothic, Bildungsroman']
['Flowers in the Attic', 'V. C. Andrews', 'English', '1979', '40 million[60]', 'Gothic horror, Family saga']
['Cosmos', 'Carl Sagan', 'English', '1980', '40 million[61]', 'Popular science, Anthropology, Astrophysics, Cosmology, Philosophy, History']
["Sophie's World (Sofies verden)", 'Jostein Gaarder', 'Norwegian', '1991', '40 million[62]', 'Philosophical novel, Young adult']
['Angels & Demons', 'Dan Brown', 'English', '2000', '39 million[63]', 'Mystery-thriller']
['Kane and Abel', 'Jeffrey Archer', 'English', '1979', '37 million[64]', 'Novel']
['How the Steel Was Tempered (Как закалялась сталь)', 'Nikolai Ostrovsky', 'Russian', '1932', '36.4 million copies in USSR[65]', 'Socialist realist novel']
['War and Peace (Война и мир)', 'Leo Tolstoy', 'Russian', '1869', '36 million copies in Russia[65]', 'Historical novel']
['The Adventures of Pinocchio (Le avventure di Pinocchio)', 'Carlo Collodi', 'Italian', '1881', '35 million[66][67][better\xa0source\xa0needed]', "Fantasy, Children's fiction"]
['The Diary of Anne Frank (Het Achterhuis)', 'Anne Frank', 'Dutch', '1947', '35 million[68]', 'Historical non-fiction, Autobiography, Memoir, Bildungsroman / Coming of Age, Jewish literature']
['Your Erroneous Zones', 'Wayne Dyer', 'English', '1976', '35 million[69][70]', 'Self-help']
['The Thorn Birds', 'Colleen McCullough', 'English', '1977', '33 million[71]', 'Romantic family saga']
['The Purpose Driven Life', 'Rick Warren', 'English', '2002', '33 million[72]', 'Christian literature']
['The Kite Runner', 'Khaled Hosseini', 'English', '2003', '31.5 million[73]', 'Bildungsroman, Historical fiction']
['Valley of the Dolls', 'Jacqueline Susann', 'English', '1966', '31 million[74]', 'Novel']
['Alcoholics Anonymous Big Book', 'Bill Wilson', 'English', '1939', '30 million[75][76]', 'Self-help']
['How to Win Friends and Influence People', 'Dale Carnegie', 'English', '1936', 'Over 30 million[77][78]', 'Self-help']
['The Great Gatsby', 'F. Scott Fitzgerald', 'English', '1925', '30 million ("around")[79]', 'Novel, tragedy']
['Gone with the Wind', 'Margaret Mitchell', 'English', '1936', '30 million (est.)[80]', 'Historical fiction']
['Rebecca', 'Daphne du Maurier', 'English', '1938', '30 million (est.)[81]', 'Gothic novel']
['Nineteen Eighty-Four', 'George Orwell', 'English', '1949', '30 million[82]', 'Dystopian, political fiction, social science fiction']
['The Revolt of Mamie Stover', 'William Bradford Huie', 'English', '1951', '30 million[83]', 'Fiction']
['The Girl with the Dragon Tattoo (Män som hatar kvinnor)', 'Stieg Larsson', 'Swedish', '2005', '30 million[84]', 'Fiction']
['The Lost Symbol', 'Dan Brown', 'English', '2009', '30 million[85]', 'Fiction']
['The Hunger Games', 'Suzanne Collins', 'English', '2008', '29 million in US[86]', 'Young adult fiction']
['James and the Giant Peach', 'Roald Dahl', 'English', '1961', '28 million[87]', "Children's novel"]
['The Young Guard (Молодая гвардия)', 'Alexander Alexandrovich Fadeyev', 'Russian', '1945', '26 million copies in USSR[65]', 'Young adult historical novel']
['Who Moved My Cheese?', 'Spencer Johnson', 'English', '1998', '28[88] – 30[89] million', 'Self-help, motivational, business fable, psychology, leadership, parable']
['A Brief History of Time', 'Stephen Hawking', 'English', '1988', '25 million[90]', 'Popular science']
['Paul et Virginie', 'Jacques-Henri Bernardin de Saint-Pierre', 'French', '1788', '25 million[91]', 'Novel']
['Lust for Life', 'Irving Stone', 'English', '1934', '25 million[92]', 'Biographical novel']
['The Wind in the Willows', 'Kenneth Grahame', 'English', '1908', '25 million[93]', "Children's literature"]
['The 7 Habits of Highly Effective People', 'Stephen R. Covey', 'English', '1989', '25 million[94]', 'Self-help']
['Totto-Chan: The Little Girl at the Window (窓ぎわのトットちゃん)', 'Tetsuko Kuroyanagi', 'Japanese', '1981', '25 million [95]', 'Autobiographical novel']
['Virgin Soil Upturned (Поднятая целина)', 'Mikhail Sholokhov', 'Russian', '1935', '24 million copies in USSR[65]', 'Novel']
['The Celestine Prophecy', 'James Redfield', 'English', '1993', '23 million[96]', 'New-age spiritual novel']
['The Fault in Our Stars', 'John Green', 'English', '2012', '23 million[97]', 'Young adult romantic novel']
['The Girl on the Train', 'Paula Hawkins', 'English', '2015', '23 million[98]', 'Thriller']
['The Shack', 'William P. Young', 'English', '2007', '22.5 million[99]', 'Novel']
['Uncle Styopa (Дядя Стёпа)', 'Sergey Mikhalkov', 'Russian', '1936', '21 million copies in USSR[65]', "Children's Literature, picture book"]
['The Godfather', 'Mario Puzo', 'English', '1969', '21 million[100]', 'Crime novel']
['Love Story', 'Erich Segal', 'English', '1970', '21 million[101]', 'Romance novel']
['Catching Fire', 'Suzanne Collins', 'English', '2009', '21 million in US[86]', 'Young Adult novel, adventure, dystopian, science fiction']
['Mockingjay', 'Suzanne Collins', 'English', '2010', '20 million in US[86]', 'Young Adult novel, adventure, war, science fiction, action thriller']
['Kitchen (キッチン)', 'Banana Yoshimoto', 'Japanese', '1988', '20 million[102]', 'Japanese novel']
['Andromeda Nebula (Туманность Андромеды)', 'Ivan Yefremov', 'Russian', '1957', '20 million[103]', 'Science fiction novel']
['Autobiography of a Yogi (योगी कथामृत)', 'Paramahansa Yogananda', 'Hindi', '1946', '20 million[104]', 'Autobiography']
['Gone Girl', 'Gillian Flynn', 'English', '2012', '20 million[105]', 'Crime thriller novel']
['All Quiet on the Western Front (Im Westen nichts Neues)', 'Erich Maria Remarque', 'German', '1929', '20 million[106]', 'War novel']
['The Bermuda Triangle', 'Charles Berlitz', 'English', '1974', '20 million[107]', '']
['Things Fall Apart', 'Chinua Achebe', 'English', '1958', '20 million[108]', 'Novel']
['Animal Farm', 'George Orwell', 'English', '1945', '20 million[109]', 'Satirical allegorical novella, Political satire, Dystopian Fiction, Roman à clef']
['Wolf Totem (狼图腾)', 'Jiang Rong', 'Chinese', '2004', '20 million[110]', 'Semi-autobiographical novel']
['The Happy Hooker: My Own Story', 'Xaviera Hollander', 'English', '1971', '20 million[111]', 'Memoir']
['Jaws', 'Peter Benchley', 'English', '1974', '20 million[112]', 'Thriller']
['Love You Forever', 'Robert Munsch', 'English', '1986', '20 million[113]', "Children's literature, picture book, fiction"]
["The Women's Room", 'Marilyn French', 'English', '1977', '20 million[114]', 'Feminist novel']
["What to Expect When You're Expecting", 'Arlene Eisenberg and Heidi Murkoff', 'English', '1984', '20 million[115]', 'Pregnancy guide']
['Adventures of Huckleberry Finn', 'Mark Twain', 'English', '1885', '20 million[116]', 'Picaresque novel, Bildungsroman, satire, Robinsonade']
['The Secret Diary of Adrian Mole, Aged 13¾', 'Sue Townsend', 'English', '1982', '20 million[117]', 'Young adult novel']
['Pride and Prejudice', 'Jane Austen', 'English', '1813', '20 million[118][119]', 'Classic regency novel, romance']
['Kon-Tiki: Across the Pacific in a Raft (Kon-Tiki ekspedisjonen)', 'Thor Heyerdahl', 'Norwegian', '1950', '20 million[120]', 'Travel literature']
['The Good Soldier Švejk (Osudy dobrého vojáka Švejka za světové války)', 'Jaroslav Hašek', 'Czech', '1923', '20 million (printed)[121]', 'Unfinished satirical dark comedy novel']
['Where the Wild Things Are', 'Maurice Sendak', 'English', '1963', '20 million[122]', "Children's picture book"]
['The Power of Positive Thinking', 'Norman Vincent Peale', 'English', '1952', '20 million[123]', 'Self-help']
['The Secret', 'Rhonda Byrne', 'English', '2006', '20 million[124]', 'Self-help']
['Fear of Flying', 'Erica Jong', 'English', '1973', '20 million[125]', 'Romantic novel']
['Dune', 'Frank Herbert', 'English', '1965', '20 million[126]', 'Science fiction novel']
['Charlie and the Chocolate Factory', 'Roald Dahl', 'English', '1964', '20 million[127]', "Children's fantasy novel"]
['The Naked Ape', 'Desmond Morris', 'English', '1968', '20 million[128]', 'Social Science, Anthropology, Psychology']

Removing the intermediate printings, and just adding two more lines, the code which creates the final dataframe reads as follows:

In [161]:
for row in target_table[1:]:
    html_data = row.findAll('td')
    cell_row_data = [data.text\
                     .strip() for data in html_data]

    length = len(df_bs_books)
    df_bs_books.loc[length] = cell_row_data

These two new lines of code can be explained as: by every new for-itineration, the length of the dataframe `df_bs_books` increases, and so does the variable `length` ( the latter one is defined by the former one ).

We just need now to adjust the index so that we don't count the header as an observation

In [163]:
df_bs_books.index = df_bs_books.index + 1

And finally we display our dataframe prior to store it as a csv file

In [164]:
df_bs_books

,Book,Author(s),Original language,First published,Approximate sales,Genre
1,The Tale of Peter Rabbit,Beatrix Potter,English,1902,45 million[56],Children's Literature
2,Jonathan Livingston Seagull,Richard Bach,English,1970,44 million[57],"Novella, Self-help"
3,The Very Hungry Caterpillar,Eric Carle,English,1969,43 million[58],"Children's Literature, picture book"
4,A Message to Garcia,Elbert Hubbard,English,1899,40 million[47],Essay/Literature
5,To Kill a Mockingbird,Harper Lee,English,1960,40 million[59],"Southern Gothic, Bildungsroman"
...,...,...,...,...,...,...
70,The Secret,Rhonda Byrne,English,2006,20 million[124],Self-help
71,Fear of Flying,Erica Jong,English,1973,20 million[125],Romantic novel
72,Dune,Frank Herbert,English,1965,20 million[126],Science fiction novel
73,Charlie and the Chocolate Factory,Roald Dahl,English,1964,20 million[127],Children's fantasy novel
74,The Naked Ape,Desmond Morris,English,1968,20 million[128],"Social Science, Anthropology, Psychology"

In [165]:
df_bs_books.to_csv('20_to_50M_best_selling_books.csv')