### Script of Web scraping
Oct 5th in 2023

To go to the explanation of its github readme file, see:

https://github.com/GBlanch/Python-with-BeautifulSoup-for-Web-Scraping

#### Foreword:


Please note that a neater and more consistent way to name the dataframes would have been, for instance,  to mention the dataframes and their respective .csv files like reads below:

**Machine learning ( from the 2nd half of the current script)**

Price:

- Dataframe: `df_machine_learn_p` 
- csv file: `ml_price.csv`

Shipping price:

- Dataframe: `df_machine_learn_sp`
- csv file: `ml_shipprice.csv`

Country of provenance:

- Dataframe: `df_machine_learn_cop`
- csv file: `ml_countryprovenance.csv`

In [1]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq
import pandas as pd
import numpy as np

In [8]:
url = 'https://www.ebay.com/sch/i.html?_from=R40&_nkw=hiking+gear&_sacat=0&LH_TitleDesc=0&_sop=15'
url

'https://www.ebay.com/sch/i.html?_from=R40&_nkw=hiking+gear&_sacat=0&LH_TitleDesc=0&_sop=15'

In [24]:
key_word_search = 'machine+learning+books'
url = 'https://www.ebay.com/sch/i.html?_from=R40&_nkw={}&_sacat=0&LH_TitleDesc=0&_sop=15'.format(key_word_search)
url

'https://www.ebay.com/sch/i.html?_from=R40&_nkw=machine+learning+books&_sacat=0&LH_TitleDesc=0&_sop=15'

In [25]:
client = uReq(url)
client
# http client object is given

In [9]:
# html_page = client.read()
# html_page

In [26]:
html_page = client.read()
client.close()
 # best practices includes closing client object
 # (keep the code as neat as possible)

In [27]:
page_soup = soup(html_page)
# page_soup
# select the entire soup object.

                # output too large. Uncomment the 2nd line above to see.

Technically we could navigate through the html scripts like this:

In [3]:
# page_soup.div

This `.div` function selects the 1st `tag` in the entire `soup object` which exists as a `division` tag (.div). Its output is too large. Uncomment the cell above containing `page_soup.div` to see it.

We can use the same function while browsing the html script, for instance:

In [15]:
page_soup.div.div.a

This is: inside the first div tag, select the next first div tag,
, and inside this latter, select the `anchor/hyperlink` tag (.a). We could navigate html scripts utilizing these functions as follows, but it would get rather inefficient and tedious.

That is why it's more convenient to use the method `find`. This is:

In [14]:
# based on the tags and classes we're looking for:

page_soup.find('span',
               {'class' : 's-item__price'})
# will automatically fetch the 1st item with span tag 
# under the the class name `s-item__price`

In [27]:
page_soup.findAll('span',
               {'class' : 's-item__price'})
# fetch them all..

[<span class="s-item__price"><!--F#f_0--><!--F#f_0-->$20.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$24.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$10.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$39.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$35.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$16.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$31.84<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$9.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$14.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$19.85<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$40.91<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$15.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$88.49<!--F/--><!--F#f_0--><span class="DEFAULT"> to </span><!--F/--><!--F#f_0-->$89.64<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$29.98<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$25.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$64.49<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$38.42<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$39.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$50.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$58.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$39.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$50.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$20.24<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$43.95<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$89.45<!--F/--><!--F#f_0--><span class="DEFAULT"> to </span><!--F/--><!--F#f_0-->$92.45<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$74.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$55.95<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$125.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$73.49<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$90.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$79.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$28.48<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$32.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$35.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$35.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$35.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$35.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$35.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$36.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$37.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$41.98<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$45.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$45.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$45.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$45.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$50.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$50.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$60.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$65.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$65.62<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$66.30<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$69.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$75.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$75.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$75.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$75.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$7.99<!--F/--><!--F#f_0--><span class="DEFAULT"> to </span><!--F/--><!--F#f_0-->$75.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$87.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$89.95<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$93.84<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$101.62<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$165.00<!--F/--><!--F/--></span>]

In [74]:
page_soup.findAll('span',
               {'class' : 's-item__price'})[1:5]
#...or just an interval

[<span class="s-item__price"><!--F#f_0--><!--F#f_0-->$24.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$10.00<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$39.99<!--F/--><!--F/--></span>,
 <span class="s-item__price"><!--F#f_0--><!--F#f_0-->$35.00<!--F/--><!--F/--></span>]

In [28]:
page_soup.findAll('span',
               {'class' : 's-item__price'})[2].text
# select what's in the index #3

'$10.00'

In [29]:
third_price = page_soup.findAll('span',
               {'class' : 's-item__price'})[2].text

# we confirm the type of it
type(third_price)

str

In [17]:
span_tag = page_soup.findAll('span',
               {'class' : 's-item__price'})

prices = []

for i in span_tag:
    prices.append(i.text[1:])
    # storing just after the $ sign  
    # (assuming they exist solely at the beginning of each string)

    
prices[1:5] 
#just fetch these of this range

['24.99', '10.00', '39.99', '35.00']

In [18]:
type(span_tag)

bs4.element.ResultSet

In [61]:
type(prices[2])

str

In [70]:
numeric_array = pd.to_numeric(prices)
# we better to convert then into numeric values 
# before creating our dataframe

ValueError: Unable to parse string "88.49 to $89.64" at position 13

In [23]:
# Python complains for there are also other $ signs in possitions other than intial one
prices[7:18]

['9.99',
 '14.99',
 '19.85',
 '40.91',
 '15.00',
 '35.00',
 '88.49 to $89.64',
 '29.98',
 '25.00',
 '64.49',
 '38.42']

In [71]:
numeric_array = pd.to_numeric(prices,
                             errors = 'coerce')
# we pass the argument 'coerce' so that 
# if there's any non-numeric value, it returns a null value

numeric_array

array([ 20.  ,  24.99,  10.  ,  39.99,  35.  ,  16.  ,  31.84,   9.99,
        14.99,  19.85,  40.91,  15.  ,  35.  ,    nan,  29.98,  25.  ,
        64.49,  38.42,  39.99,  50.  ,  58.  ,  39.99,  50.  ,  20.24,
        43.95,    nan,  74.99,  55.95, 125.  ,  73.49,  90.  ,  79.99,
        28.48,  32.99,  35.  ,  35.  ,  35.  ,  35.  ,  35.  ,  36.09,
        37.99,  45.  ,  45.  ,  45.  ,  45.  ,  50.  ,  50.  ,  59.97,
        60.  ,  65.  ,  66.3 ,  66.49,  75.  ,  75.  ,  75.  ,  75.99,
          nan,  87.99,  89.95,  93.84, 101.62, 165.  ])

In [72]:
df = pd.DataFrame(numeric_array)
df.isnull().sum()

0    3
dtype: int64

In [93]:
df_hike_gear_p = df.dropna() 
# We are not touching the original df.
# Plus, better to classify a specific dataframe 

df_hike_gear_p.isnull().sum()

0    0
dtype: int64

In [94]:
df_hike_gear_p.head()

       0
0  20.00
1  24.99
2  10.00
3  39.99
4  35.00

In [75]:
df_hike_gear_p.tail()

         0
57   87.99
58   89.95
59   93.84
60  101.62
61  165.00

Getting the indexing right and named ( and the column as well )

In [95]:
df_hike_gear_p.columns = ['price']
# we name the column as 'shipping_price'

df_hike_gear_p.index = np.arange(1,
                                len(df_hike_gear_p) + 1)
# set the starting point of indexing as int 1

df_hike_gear_p.index.name = 'index'
# we name the index column as such

df_hike_gear_p.head(4)

       price
index
1      20.00
2      24.99
3      10.00
4      39.99

In [97]:
df_hike_gear_p.isnull().sum()

price    0
dtype: int64

In [98]:
df_hike_gear_p.to_csv('hiking_gear_price.csv')

#### What follows from here on is not appearing in the mentioned github repo

##### Using the variable `key_word_search` when passing the website URL for  "Machine Learning books"

In [2]:
key_word_search = 'machine+learning+books'
# new search target

url = 'https://www.ebay.com/sch/i.html?_from=R40&_nkw={}&_sacat=0&LH_TitleDesc=0&_sop=15'.format(key_word_search)
url

'https://www.ebay.com/sch/i.html?_from=R40&_nkw=machine+learning+books&_sacat=0&LH_TitleDesc=0&_sop=15'

In [3]:
client = uReq(url)
client
# http client object is given

In [4]:
html_page = client.read()
client.close()
 # best practices includes closing client object
 # (keep the code as neat as possible)

In [5]:
page_soup = soup(html_page)
# page_soup
# select the entire soup object

                # too large. Uncomment the 2nd line above to see.

In [6]:
span_tag = page_soup.findAll('span',
               {'role' : 'heading'})
# title of the books: 

titles = []

for i in span_tag:
    titles.append(i.text)
    # no need to exclude any indexes here
        
titles[0:6]
# just fetching these

['Shop on eBay',
 'Machine Learning: 2 Books in 1: An Introduction Math Guide for Beginners to Unde',
 'Freehand Machine Embroidery: Learning to draw with your sewing m',
 'Machine Learning for Absolute Beginners: A Plain English Introdu',
 'Machine Learning with Tensorflow by Shukla, Nishant',
 'Machine Learning revised and updated edition by Ethem Alpaydin  NEW Book']

In [62]:
# we check out this is how it's written on the original website
url

'https://www.ebay.com/sch/i.html?_from=R40&_nkw=machine+learning+books&_sacat=0&LH_TitleDesc=0&_sop=15'

In [9]:
df_titles = pd.DataFrame(titles)

df_titles.head(7)

                                                   0
0                                       Shop on eBay
1  Machine Learning: 2 Books in 1: An Introductio...
2  Freehand Machine Embroidery: Learning to draw ...
3  Machine Learning for Absolute Beginners: A Pla...
4  Machine Learning with Tensorflow by Shukla, Ni...
5  Machine Learning revised and updated edition b...
6                     Machine Learning For Beginners

In [10]:
df_titles = df_titles\
    .drop(df_titles.index[0])\
        .reset_index(drop = True)
# we drop the first observation 'Shop on eBay`,
# and also reset the index

df_titles.columns = ['titles']
# we name the column as 'titles'..

df_titles.index = np.arange(1,
                                len(df_titles) + 1)
# set the starting point of indexing as int 1

df_titles.index.name = 'index'
# ..and the index column as such

df_titles.head(6)

                                                  titles
index
1      Machine Learning: 2 Books in 1: An Introductio...
2      Freehand Machine Embroidery: Learning to draw ...
3      Machine Learning for Absolute Beginners: A Pla...
4      Machine Learning with Tensorflow by Shukla, Ni...
5      Machine Learning revised and updated edition b...
6                         Machine Learning For Beginners

In [31]:
# the result above checks

df_titles.isnull().sum()
# any Nans?

titles    0
dtype: int64

In [11]:
# no need to drop any then

df_titles.to_csv('df_titles_{}.csv'.\
                 format(key_word_search))
# since we are using the variable 'key_word_search'
# we utilize the method `.format()`

#### Getting other fields of data: shipping costs and country of provenance

#### 
Shipping costs

In [33]:
span_tag = page_soup.findAll('span',
               {'class' : 's-item__shipping s-item__logisticsCost'})

shipprice = []

for i in span_tag:
    shipprice.append(i.text[1:])
    # storing just after the $ sign  
    # (assuming they exist solely at the beginning of each string)

    
shipprice[1:6] 
#just fetch these of this range

['$2.39 shipping',
 '$2.39 shipping',
 '$10.81 shipping',
 '$3.62 shipping',
 '$9.50 shipping']

In [34]:
span_tag = page_soup.findAll('span',
               {'class' : 's-item__shipping s-item__logisticsCost'})

shipprice = []

for i in span_tag:
    shipprice.append(i.text[2:]\
                          .replace('shipping'
                                   ,''))
    # storing just after the $ sign, this is from possition #3 
    # ridding the result from word `shipping` 

    
shipprice[1:6] 
#just fetch these of this range

['2.39 ', '2.39 ', '10.81 ', '3.62 ', '9.50 ']

In [35]:
df_shipprice = pd.DataFrame(shipprice)

df_shipprice.columns = ['shipping_price']
# we name the column as 'shipping_price'..


df_shipprice.index = np.arange(1,
                                len(df_shipprice) + 1)
# set the starting point of indexing as int 1

df_shipprice.index.name = 'index'
# ..and the index column as such

df_shipprice.head(6)

      shipping_price
index
1              5.49
2              2.39
3              2.39
4             10.81
5              3.62
6              9.50

In [36]:
df_shipprice.to_csv('shipping_pice.csv')

#### 
Country of provenance

In [37]:
span_tag = page_soup.findAll('span',
               {'class' : 's-item__location s-item__itemLocation'})

provenance = []

for i in span_tag:
    provenance.append(i.text[:])

    
provenance[1:6] 
#just fetch these of this range

['from United States',
 'from United States',
 'from United States',
 'from United Kingdom',
 'from United States']

In [38]:
span_tag = page_soup.findAll('span',
               {'class' : 's-item__location s-item__itemLocation'})

provenance = []

for i in span_tag:
    provenance.append(i.text[:]\
                          .replace('from'
                                   ,''))

    
provenance[1:6] 
#just fetch these of this range

[' United States',
 ' United States',
 ' United States',
 ' United Kingdom',
 ' United States']

In [39]:
df_provenance = pd.DataFrame(provenance)

df_provenance.columns = ['country_of_provenance']
# we name the column as 'shipping_price'..

df_provenance.index = np.arange(1,
                                len(df_provenance) + 1)
# set the starting point of indexing as int 1


df_provenance.index.name = 'index'
# ..and the index column as such

df_provenance.head(6)

      country_of_provenance
index
1            United Kingdom
2             United States
3             United States
4             United States
5            United Kingdom
6             United States

In [40]:
df_provenance.to_csv('country_of_provenance.csv')